In [12]:
import pandas as pd

In [13]:
filename = './forex/EURUSD/1M/BID/01.05.2022T00.00-01.05.2025T23.59.csv'

# format like''01.05.2025 23:59:00.000' 
date_format = '%d.%m.%Y %H:%M:%S.%f'

In [14]:
df = pd.read_csv(filename)
orig_df = df.copy()
print("Total size: " + str(df.shape[0]))

Total size: 1326711

In [15]:
df['date_gmt'] = pd.to_datetime(df['date_gmt'], format=date_format)
orig_df['date_gmt'] = pd.to_datetime(orig_df['date_gmt'], format=date_format)

In [16]:
# find all differences in time between rows that are more than 1minute

df['diff'] = df['date_gmt'].diff().dt.total_seconds()
df['diff'] = df['diff'].fillna(0)
df['diff'] = df['diff'].abs()
df['diff'] = df['diff'].astype(int)

df = df[df['diff'] > 60]

In [17]:
df

,date_gmt,open,high,low,close,volume,diff
43022,2022-05-30 21:03:00,1.07813,1.07813,1.07801,1.07801,9.900000,120
43025,2022-05-30 21:10:00,1.07804,1.07806,1.07803,1.07806,75.149999,300
43036,2022-05-30 21:23:00,1.07809,1.07809,1.07808,1.07808,1.350000,180
43047,2022-05-30 21:35:00,1.07799,1.07799,1.07787,1.07787,4.050000,120
43066,2022-05-30 21:55:00,1.07798,1.07798,1.07794,1.07794,1.800000,120
...,...,...,...,...,...,...,...
1321405,2025-04-27 23:34:00,1.13501,1.13501,1.13501,1.13501,2.700000,120
1321431,2025-04-28 01:00:00,1.13641,1.13670,1.13641,1.13648,274.479996,3660
1321671,2025-04-28 08:00:00,1.13485,1.13487,1.13462,1.13474,345.579998,10860
1321971,2025-04-28 15:00:00,1.13791,1.13794,1.13772,1.13773,665.139995,7260
1322271,2025-04-28 22:00:00,1.14214,1.14223,1.14212,1.14222,70.199999,7260

In [18]:
sum = df['diff'].sum()
print('Sum of differences in seconds: ', sum)
print('Sum of differences in minutes: ', sum/60)

Sum of differences in seconds:  15281220
Sum of differences in minutes:  254687.0

In [21]:
sum2022 = df[df['date_gmt'].dt.year == 2022]['diff'].sum()
print('Sum of differences in minutes for 2022: ', sum2022/60)
print(f'Missing 2022: {(sum2022/60)/((sum2022/60)+len(orig_df[orig_df['date_gmt'].dt.year == 2022]))}')
sum2023 = df[df['date_gmt'].dt.year == 2023]['diff'].sum()
print('Sum of differences in minutes for 2023: ', sum2023/60)
print(f'Missing 2023: {(sum2023/60)/((sum2023/60)+len(orig_df[orig_df['date_gmt'].dt.year == 2023]))}')
sum2024 = df[df['date_gmt'].dt.year == 2024]['diff'].sum()
print('Sum of differences in minutes for 2024: ', sum2024/60)
print(f'Missing 2024: {(sum2024/60)/((sum2024/60)+len(orig_df[orig_df['date_gmt'].dt.year == 2024]))}')
sum2025 = df[df['date_gmt'].dt.year == 2025]['diff'].sum()
print('Sum of differences in minutes for 2025: ', sum2025/60)
print(f'Missing 2025: {(sum2025/60)/((sum2025/60)+len(orig_df[orig_df['date_gmt'].dt.year == 2025]))}')

Sum of differences in minutes for 2022:  60347.0
Missing 2022: 0.17165637435750106
Sum of differences in minutes for 2023:  97330.0
Missing 2023: 0.18440732172664215
Sum of differences in minutes for 2024:  72144.0
Missing 2024: 0.13671948286742508
Sum of differences in minutes for 2025:  24866.0
Missing 2025: 0.14261053090391884